<!DOCTYPE html>
<html>
<head></head>
<body>
          <script>
                  alert("Complain Added Successfull!!!");
                  window.location.href="/citizen";
          </script>
</body>
</html>