<!DOCTYPE html>
<html>
    <head>
        <style>
         body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(315deg, rgb(55, 73, 112) 60%,rgb(51, 102, 96) 100%);
            background-repeat: no-repeat;
            background-attachment: fixed;
             z-index:-1;
        }
            
        .top{
                overflow:hidden;
                margin:0;
            height:50px;
                background-color:#333;
              
            }
                   .top a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
            .top a:hover{
                color:black;
                background-color:powderblue;
            }
            .top a:active{
                color:white;
                background-color:powderblue;
            }
            .top span{
                float:right;
                margin-right:4%; 
            }
            .top img{
                margin:3px;
            }
            .main{
                justify-items: center;
            }
            .main h2{
                color:peru;
                letter-spacing:4px;
                padding-top:60px;
                font-family: sans-serif;
                font-size:60px;
                text-shadow:2px 2px 4px pink;  
            }
            .main h3{
                font-size:30px;
                letter-spacing:2px;
                font-family:sans-serif;
                color:green;
              
            }
        </style>
    </head>
<body>
   <div class="top">
       <img src="http://localhost:3000/photos/logo.png" alt="logo" height="45px" width="45px">
       
       <span>
        <a href="/register">EmpSignup</a>
              <a href="/login">EmpLogin</a>
              <a href="/citizen">CitizenQuery</a> 
              <a href="/citizen_projectView">ProjectDetails</a> 
       </span>
    </div>
    <center>
       <div class="main">
      <h2 >Chandranagar Municipality</h2>
    <img src="http://localhost:3000/photos/logo2.png" alt="logo" height="240px" width="240px">
    <h3><b>Municipality makes work easier!!!</b></h3>
    </div>
    </center>
 
  
    </body>
</html>