<!DOCTYPE html>
<html>
<head></head>
<body>
          <script>
                  alert("Login Successfull!!!");
                  window.location.href="/adminpage";
          </script>
</body>
</html>