<!DOCTYPE html>
<html>
<head></head>
<body>
          <script>
                  alert("Login Failed!!!");
                  window.location.href="/login";
          </script>
</body>
</html>