<!DOCTYPE html>
<html>
<head></head>
<body>
          <script>
                  alert("Project Added Successfull!!!");
                  window.location.href="/AddProject";
          </script>
</body>
</html>