<!DOCTYPE html>
<html>
<head></head>
<body>
          <script>
                  alert("Employee Already Exixts!!!Try With Another Employee!!!");
                  window.location.href="/register";
          </script>
</body>
</html>