<!DOCTYPE html>
<html>
<head></head>
<body>
          <script>
                  alert("Citizen Data Updated Successfully!!!");
                  window.location.href="/update";
          </script>
</body>
</html>